@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --clr-bg-dark: #1F1F1F; 
  --clr-bg-light: #f3f4f6; 
  --clr-text-dark: #F5F5F5; 
  --clr-text-light: #000; 
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}


body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


